<div class="job-status">
    @if (enteringState)
    {
        <input class="create-column-input" type="text" @bind="JobListName" />
        <div class="add-controls">
            <button @onclick="Add">Add List</button>
            <span class="oi oi-circle-x" @onclick="() => SetState(false)" />
        </div>
    }
    else
    {
        <div class="column-create-placeholder" @onclick="() => SetState(true)">
            <span class="oi oi-plus" /> Add New Job List
        </div>
    }

</div>
@code {
    [CascadingParameter] JobsBoardComponent Container { get; set; }

    private void SetState(bool state)
    {
        this.enteringState = state;
    }

    private async Task Add()
    {
        if (string.IsNullOrEmpty(JobListName)) { return; }
        await Container.AddNewColumnJobAsync(JobListName);
        JobListName = string.Empty;
        enteringState = false;
    }

    bool enteringState;
    string JobListName;
}
