@using KanbanBoard.Data.Entities
@using KanbanBoard.Pages
@inject IModalService Modal

<li @ondblclick="EditItem" class="draggable" draggable="true" title="@Item.Title" @ondragleave="HandleDragLeave" @ondragenter="HandleDragOver" @ondragstart="@(() => HandleDragStart(Item))">
    <span class="oi oi-circle-x" aria-hidden="true" @onclick="DeleteItem"></span>
    <p class="title">@Item.Title - @Item.Place </p>
</li>

@code {
    [CascadingParameter] JobsBoardComponent Container { get; set; }

    [Parameter]
    public JobItem Item { get; set; }

    private void HandleDragStart(JobItem selectedJob)
    {
        Container.Dragged = selectedJob;
    }

    private void HandleDragOver()
    {
        Container.DraggedOver = Item;
    }

    private void HandleDragLeave()
    {
        Container.DraggedOver = null;
    }

    private void DeleteItem()
    {
        Container.DeleteItem(Item);
    }

    private async Task EditItem()
    {
        var parameters = new ModalParameters();
        parameters.Add("ItemId", Item.Id);
        var modal = Modal.Show<EditJobItem>("Edit Job Item", parameters);
        parameters.Add("thisRef", modal);
        var result = await modal.Result;
        if(!result.Cancelled)
        {
            this.Item = result.Data as JobItem;
        }

    }
}