@using KanbanBoard.Services
@inject MainService service
@inject IJSRuntime JsRuntime

@using KanbanBoard.Data.Entities

<div class="jobs-board">
    <CascadingValue Value="this">
        @foreach (var col in Columns)
        {
            <JobsColumnComponent JobColumn="@col" />
        }
        <AddColumnComponent />
    </CascadingValue>
</div>

@code {
    [Parameter] public List<JobColumn> Columns { get; set; }

    [Parameter] public EventCallback<JobItem> OnStatusUpdated { get; set; }

    public JobItem Dragged { get; set; }
    public JobItem DraggedOver { get; set; }


    public void Renumerate(JobColumn column)
    {
        var i = 0;
        foreach (var job in column.JobItems)
        {
            job.Place = i++;
        }
    }

    public async Task UpdateJobAsync(JobColumn newStatus)
    {
        if (newStatus.Id != Dragged.JobColumnId)
        {
            var deleteFrom = Columns.First(x => x.Id == Dragged.JobColumnId);
            deleteFrom.JobItems.Remove(Dragged);
            this.Renumerate(deleteFrom);
            await this.service.UpdateJobColumn(deleteFrom);
        }

        if (DraggedOver != null)
        {
            if (Dragged.JobColumnId != DraggedOver.JobColumnId)
            {
                Dragged.Place = DraggedOver.Place;
                foreach (var job in newStatus.JobItems.Where(x => x.Place >= DraggedOver.Place))
                {
                    job.Place += 1;
                }
            }
            else
            {
                var swap = Dragged.Place;
                Dragged.Place = DraggedOver.Place;
                DraggedOver.Place = swap;
            }
        }
        else
        {
            if(newStatus.Id != Dragged.JobColumnId)
            {
                Dragged.Place = newStatus.JobItems.Count;
            } else
            {
                foreach (var job in newStatus.JobItems.Where(x => x.Place > Dragged.Place))
                {
                    job.Place -= 1;
                }
                Dragged.Place = newStatus.JobItems.Count - 1;
            }
        }
        Dragged.JobColumnId = newStatus.Id;
        await service.UpdateJobColumn(newStatus);
        this.StateHasChanged();

    }

    public void StateChanged()
    {
        this.StateHasChanged();
    }

    public async Task AddNewColumnJobAsync(string newColumn)
    {
        var column = new JobColumn
        {
            Name = newColumn,
            Place = this.Columns.Count,
            JobItems = new List<JobItem>()
        };

        column = await service.AddColumn(column);
        this.Columns.Add(column);

        base.StateHasChanged();
    }

    public async Task DeleteItem(JobItem item)
    {
        foreach (var column in Columns)
        {
            column.JobItems.Remove(item);
        }

        await service.DeleteJobItem(item);

        this.StateHasChanged();
    }

    public async Task DeleteColumn(JobColumn item)
    {
        if (item.JobItems.Any())
        {
            bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure? All of the tasks in the board will be deleted too");
            if (!confirmed)
            {
                return;
            }

            foreach (var it in item.JobItems.Select(x => x).ToList())
            {
                await service.DeleteJobItem(it);
            }
        }


        Columns.Remove(item);

        await service.DeleteJobColumn(item);

        this.StateHasChanged();
    }
}