@page "/board"

@using KanbanBoard.Services
@inject MainService service
@using KanbanBoard.Data.Entities

@attribute [Authorize]

<h3>The Board</h3>
<JobsBoardComponent Columns="Columns" Jobs="Jobs" OnStatusUpdated="HandleStatusUpdated" />

<hr />
<p>Last updated job was: <strong>@lastUpdatedJob</strong></p>
<hr />

@foreach (var task in Jobs)
{
    <p>@task.Description - <strong>@task.JobColumn.Id</strong></p>
}

@code {
    List<JobColumn> Columns = new List<JobColumn>();
    List<JobItem> Jobs = new List<JobItem>();
    string lastUpdatedJob = "";

    protected async override Task OnInitializedAsync()
    {
        Columns = await service.GetColumns();

    }

    void HandleStatusUpdated(JobItem updatedJob)
    {
        lastUpdatedJob = updatedJob.Description;
    }
}
