@page "/"

<h1>Hello, wanderer!</h1>

<p>This is a Kanban board developed in very tight deadlines using Blazor technology.</p>

<p>Here goes <a href="mailto:support@very.com">support email</a> as requested per requirements.</p>
